.body_style{
    background-image: linear-gradient(45deg, #17a2b8, #3a82ab);
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

.center{
    width: 50%;
    min-width: 450px;
    background-color: #ffffff;
    margin: auto;
    padding: 20px;
    box-shadow: 2px 2px 10px rgb(22 22 22 / 20%);
}
.header1
{
    color: #0014f8;
    text-align: center;
    font-size: 40px;
    font-weight: 900;

}

.mytodo
{
    width: 100%;
    border: 2px solid #f0f0f0;
    padding: 10px 5px;
    font-size: 20px;
}

.bottom_line
{
    background-color: #f0f0f0;
    border: 1px solid #f0f0f0;
    margin-top: 2rem;
}

#tasks_list {
    padding-left: 0;
}


#tasks_list li{
    list-style-type: none;
    text-align: left;
    position: relative;
    font-size: 1rem;
    padding: 16px 16px 16px 0;
    border-bottom: 1px solid black;
}


#tasks_list li input[type="checkbox"]
{
    width: max-content;
    vertical-align: sub;
    cursor: pointer;

}

input, button {
    outline: none;
}

.button_style {
    background: none;
    border: 0px;
    color: #888;
    font-size: 15px;
    width: 60px;
    margin: 10px 0 0;
    font-family: Lato, sans-serif;
    cursor: pointer;
}


.edit {
    position: absolute;
    right: 50px;
    top: 20px;
    cursor: pointer;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    right: 50px;
    top: 20px;
    cursor: pointer;
}
.fa-edit::before{
    content: "\f044";
}

.del {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}


.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-trash::before {
    content: "\f1f8";
}


.checked {
    text-decoration: line-through;
}

.unchecked
{
    text-decoration: none;

}

ul li input[type=text] {
    display:none;
}
  
ul li.editMode input[type=text] {
    display:block;
}
  
ul li.editMode label{
    display:none;
}